{% extends 'BaseTemplate.html.twig' %}

{% block head %}
{% endblock %}

{% block title %}
        
          <h3>Affichage post</h3>
        
{% endblock %}

{% block content %}
    <div class="container">
        <div class="content">
            <!-- affichage de l'enveloppe de posts -->
            <div class="post-wrapper-singleP">
                <!-- affichage du post  -->
                <div class="full-post-div">
                    {% if not post.published %}
                      <h2 class="post-title">Désolé... Ce post n'est pas encore publié</h2>
                    {% else %}
                        <h2 class="post-title">{{ post.title|e }}</h2> 
                        
                        <div class="post" >
                            <p>
                                {{ post.content|e }}
                            </p>
                           
                            <div class="content post post_image" alt="">
                            <img src= {{ BASE_URL ~ '/static/images/' ~ post.image }} alt="" width="500">
                            </div>
                            
                            <div class="post-body-div-details">
                              <p> crée le: {{ post.frenchCreationDate|e }}</p>
                              <p> modifié le: {{ post.frenchUpdatedDate|e }}</p>
                              <p> Username: {{ post.username|e }}</p>
                              <p> chapo: {{ post.chapo|e }}</p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <hr>
   {% if  comments is defined %}
    
    <div class="container">
        <div class="content">
            <h2>Commentaires:</h2>    
            {% for comment in comments %}
                 <div class="comments-section">
                <!-- affichage du comments  -->
              
                    {% if comment.published %}
                     <p class="comment">{{ comment.body|e }}</p>
                     <p class="comment .comment-date" >crée le: {{ comment.frenchCreationDate|e }}</p>  
                    <p class="comment ." >par: {{ comment.username|e }}</p>  
                  
                    {% else %}
                     {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
     {% endif %}
      <hr>
        <div class="container">
             <div class="content">
              <div class=".comments-section">
              <h2>Ajouter un commentaire:</h2>
                <form method="post" class="form-control" action="index.php?action=addComment&id={{ post.id }}&user_id={{ userSession.id }}">
                
                <div class="form-group">
                <label for="comment">Commentaire</label><br />
                <input type="text" class="form-control" id="comment" name="comment"></textarea>
                </div>
                
                 <button type="submit" class="btn btn-primary">Créer</button>
                
                </form>
             </div>
        </div></div>
   
{% endblock %}
