{% extends 'BaseTemplate.html.twig' %}
{% block head %} {% endblock %}

{% block title %}        
          <h3>Admin Dashboard</h3>        
{% endblock %}

{% block content %}
    
           <div class="container">
                <table>
                    <tr>
                        <td>
                            <h4>Informations du compte</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>Session ID :</td>
                        <td>{{ userSession.id }}</td>
                    </tr>
                     <tr>
                        <td>Nom :</td>
                        <td>{{ userSession.lastname }}</td>

                    </tr>
                     <tr>
                        <td>Prénom :</td>
                        <td>{{ userSession.firstname }}</td>

                    </tr>
                    <tr>
                        <td>Pseudo :</td>
                        <td>{{ userSession.username }}</td>

                    </tr>
                    <tr>
                        <td>Adresse email :</td>
                        <td>{{ userSession.email }}</td>
                    </tr>
                    <tr>
                        <td>Date de création du compte : </td>
                        <td>{{ userSession.created_at }}</td>
                    </tr>
                    <tr>
                        <td>Role : </td>
                        <td>{{ userSession.role }}</td>
                    </tr>
                </table>
            </div>

             <div class="container" >
              
                <div  class="btn btn-primary"><a  href="index.php?action=adminlistUsers">Liste des utilisateurs</a></div>
                <div  class="btn btn-primary"><a  href="index.php?action=adminListPosts">Liste des posts</a></div>
                <div  class="btn btn-primary"><a  href="index.php?action=adminListComments">Liste des commentaires</a></div>
            </div>
       


   

    {% if users is defined %}
        
        <div class="container">
            
            <h3>Liste des utilisateurs</h3>
             <hr>   {% for user in users %}
                <div >
                    <p>User ID : {{ user.id }}</p>
                </div>
                <div >
                    <p>username : {{ user.username }}</p>
                </div>
                <div >
                    <p>Email : {{ user.email }}</p>
                </div>
                <div >
                    <p>Date d'enregistrement : {{ user.frenchCreationDate }}</p>
                </div>
                <div >
                    <p>Role :
                        {% if user.role == "admin" %}
                        Administrateur
                        {% elseif user.role == "user" %}
                        Utilisateur
                        {% endif %}
                    </p>
                </div>
                 <a  href="index.php?action=editUser&id={{ user.id }}">Editer</a>
                <a  href="index.php?action=deleteUser&id={{ user.id }}">Supprimer</a>
           
                    <hr>
                {% endfor %}
        </div>
    {% endif %}


    {% if posts is defined %}
        
        <div class="container">
        <h3>Liste des Posts</h3><hr>
            {% for post in posts %}
                <div >
                    <div ><p>ID Post : {{ post.id }}</p></div>
                    <div > <p>Titre: {{ post.title }}</p></div>
                </div>
                <div class="row">
                    <p>Chapo : {{ post.chapo }}</p>
                </div>

                <div class="row">
                    <p>{{ post.content }}</p>
                </div>
                <div class="row">
                    <div >
                        <p>Date de création: {{ post.frenchCreationDate }}</p>
                    </div>
                <div >
                    {% if post.frenchUpdatedDate != null %}
                    <div >
                        <p>Dernière modification le : {{ post.frenchUpdatedDate }}</p>
                    </div>
                    {% endif %}
                </div>
                <div >
                    <p>Crée par : {{ post.username }}</p>
                </div>
                {% if post.published == '0' %}
                     <a  href="index.php?action=publishPost&id={{ post.id }}">Approuver</a>
                {% endif %}
                <a  href="index.php?action=editPost&id={{ post.id }}">Editer</a>
                 <a  href="index.php?action=deletePost&id={{ post.id }}">Supprimer</a>
            <hr>
            {% endfor %}

            </div>
      

        </div>
    {% endif %}

    {% if comments is defined %}
        
        <div class="container">
           
        <h3 >Liste des commentaires</h3> 
        <hr>{% for comment in comments %}
                <div >
                    <p>ID : {{ comment.id }}</p>
                </div>
                <div >
                    <p>Commentaire : {{ comment.body }}</p>
                </div>
                <div >
                    <p>Ecrit par : {{ comment.username }} le {{ comment.frenchCreationDate|e }}</p>
                </div>
                <div >
                    <p>Post : {{ comment.post_id }}</p>
                </div>

                <div >
                {% if comment.published == '1' %}
                    <p>Commentaire validé</p>
                {% else %}
                    <p>Commentaire en attente de validation</p>
                    <a href="index.php?action=publishComment&id={{ comment.id }}">Approuver</a>
                {% endif %}
                <a  href="index.php?action=deleteComment&id={{ comment.id}}">Supprimer</a>
                </div>

                <hr>
            {% endfor %}
            {% if comments is empty %}
                <div> 
                    <p>Il n'y a aucun commentaires</p>
                </div>
            {% endif %}
        </div>
    {% endif %}

{% endblock %}