{% extends 'BaseTemplate.html.twig' %}
{% block head %}{% endblock %}
{% block title %}
                   <h3>Liste des Posts</h3>   
{% endblock %}

{% block content %}
{% if posts is defined %}
        
        <div class="container">
        <h3>Liste des Posts</h3><hr>
            {% for post in posts %}
                <div >
                    <div ><p>ID Post : {{ post.id }}</p></div>
                    <div > <p>Titre: {{ post.title }}</p></div>
                </div>
                <div class="row">
                    <p>Chapo : {{ post.chapo }}</p>
                </div>

                <div class="row">
                    <p>{{ post.content }}</p>
                </div>
                <div class="row">
                    <div >
                        <p>Date de création: {{ post.frenchCreationDate }}</p>
                    </div>
                <div >
                    {% if post.frenchUpdatedDate != null %}
                    <div >
                        <p>Dernière modification le : {{ post.frenchUpdatedDate }}</p>
                    </div>
                    {% endif %}
                </div>
                <div >
                    <p>Crée par : {{ post.username }}</p>
                </div>
                {% if post.published == '0' %}
                     <a  href="index.php?action=publishPost&id={{ post.id }}">Approuver</a>
                {% endif %}
                <a  href="index.php?action=editPost&id={{ post.id }}">Editer</a>
                 <a  href="index.php?action=deletePost&id={{ post.id }}">Supprimer</a>
            <hr>
            {% endfor %}

            </div>
      

        </div>
    {% endif %}
    {% endblock %}